body {
    font-family: Arial,Helvetica,sans-serif;
    color: #000000;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
}

td {
    vertical-align: top;
    text-align: left;
}

td.logo {
    vertical-align: middle;
    text-align: center;
}

.greentext {
    color: #129f12;
}

.maintext-bold {
    font-weight: bold;
    vertical-align: top;
}

.maintext {
    vertical-align: top;
}

h1 {
    text-decoration: none;
}

a {
    color: #129f12;
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: dashed;
    border-color: #666666;
}

a:hover {
    color: #ffffff;
    background-color: #129f12;
    font-style: normal;
    text-decoration: none;
}
